<%= provide(:title, "Register" ) %>
<div class="devise">

        	<div class="devise-banner">
        		<h1>GTFO</h1>
        	</div>
        	<div class="devise-slogan">
		<h3>insert slogan here</h3>
	</div>



  <div class="devise-form">

    <h2>register</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= render 'shared/error_list', model: resource %>

      	<div class="field-row">
		<%= f.text_field :first_name, autofocus: true, placeholder: "First Name" , class: "input" %>
           </div>
	
	<div class="field-row">
		<%= f.text_field :last_name, placeholder: "Last Name" , class: "input" %>
	</div>

	<div class="field-row">
		<%= f.email_field :email, placeholder: "Email Address", class: "input" %>
	</div>	

	<div class="field-row">
		<%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "input" %>
	</div>

	<div class="field-row">
		<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-enter your password", class: "input" %>
	</div>

	<div class="field-row">
		<%= f.label "Admin" %>
		<%= f.check_box :admin %>
	</div>
	
	<div class="login-actions">
		<%= f.button "Sign Up", type: 'submit', class: "login-button-reg", data: { disable_with: 'Submitting' } %>
	</div>


    <% end %>

  </div>

  <div class="devise-slogan-bottom">
		<h3>insert slogan here</h3>
	</div>
</div>