<%= provide(:title, "New Tag" ) %>

<div class="post-form">

  <%= form_for(@tag) do |f| %>
    <% if @tag.errors.any? %>
      <div id="error_explanation" class="error-form">
        <ul>
          <% @tag.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field-row post-title-area">
      <%= f.text_field :title, placeholder: "Title" , autofocus: true  %>
    </div>

    <div class="form-actions">
      <%= f.button "Add tag", type: 'submit', class: "form-submit-button", data: { disable_with: 'Submitting' } %>
    </div>

  <% end %>

</div>

