<%= provide(:title, "New Post" ) %>

<div class="post-form">

	<%= form_for(@post) do |f| %>
		<% if @post.errors.any? %>
			<div id="error_explanation" class="error-form">
				<ul>
					<% @post.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field-row post-title-area">
			<%= f.text_field :title, placeholder: "Title" , autofocus: true  %>
		</div>

		<div class="field-row post-text-area">
			<%= f.text_area :text , placeholder: "What have you got to say ..." %>
		</div>

<!-- 		<div class="field-row">
			<%= f.text_field :video, placeholder: "Video" %>
		</div> -->

		<div class="field-row checkbox-field">
			<%= f.collection_check_boxes( :tag_ids, Tag.all, :id, :title)  do |b| %> 
				<%= b.check_box(class: 'check_box') %>
				<%= b.label(class: "checkbox_label") %>
			<% end %>
		</div>

		<div class="form-actions">
			<%= f.button "Add post", type: 'submit', class: "form-submit-button", data: { disable_with: 'Submitting' } %>
		</div>

	<% end %>

</div>
