<%= provide(:title, "New Post" ) %>

<div class="outer-form">

	<%= form_for(@post) do |f| %>
		<% if @post.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

				<ul>
					<% @post.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="field-row">
			<%= f.text_field :title, placeholder: "Title" , autofocus: true  %>
		</div>

		<div class="field-row">
			<%= f.text_area :text , placeholder: "Text" %>
		</div>

		<div class="field-row">
			<%= f.text_field :video, placeholder: "Video" %>
		</div>

		<div class="form-actions">
			<%= f.button "Add post", type: 'submit', class: "form-submit-button", data: { disable_with: 'Submitting' } %>
		</div>

	<% end %>

</div>
