<div class="timeline-item">

	<div class="timeline-icon">

		<%= gravatar_image_tag(post.user.email.gsub('spam', 'mdeering')) %>

		<p class="post-creator hidden"><%= post.user.first_name %></p>

	</div>

	<div class="timeline-datetime">

		<p class="post-datetime"><%= timeline_datetimes(post.created_at) %></p>

	</div>

	<div class="timeline-content">

		<h3 class="post-title"><%= post.title %></h3>


		<p class="post-text"><%= post.text %></p>
		
		<% unless post.photo.blank? %>
  			<%= image_tag(post.photo.url(:original))%>
		<% end %>

		<%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>

			<div class="post-delete">

				<i class="fa fa-times"></i>

			</div>

		<% end %>

	</div>

</div>
