<div class="timeline-item">

	<div class="timeline-icon">

		<div class="creator-image">

			<%= gravatar_image_tag(post.user.email.gsub('spam', 'mdeering')) %>

		</div>

		<p class="creator-name hidden"><%= post.user.first_name %></p>

	</div>

	<div class="timeline-datetime">

		<p class="post-datetime"><%= timeline_datetimes(post.created_at) %></p>

	</div>

	<article>

		<% if current_user.try(:admin?) %>

			<%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>

				<div class="post-delete">

					<i class="fa fa-times"></i>

				</div>

			<% end %>

			<%= link_to edit_post_path(post) do %>

				<div class="post-edit">

					<i class="fa fa-pencil"></i>

				</div>

			<% end %>

		<% end %>

		
		<% if post.title? %>

			<h2 class="post-title"><%= post.title %></h2>

		<% end %>

		
		<% if  post.text? %>

<<<<<<< HEAD
			<p class="post-text"><%=raw post.text %></p>
		
=======
			<div class="post-text-content">
				<%= raw post.text %>
			</div>

>>>>>>> text_editor
		<% end %>

		
		<% if  post.video? %>

			<div class="post-video">

				<%= embed(post.video) %>
				
			</div>

		<% end %>
		

		<% if post.photo? %>

			<div class="post-image">

	  			<%= image_tag(post.photo.url(:original))%>

	  		</div>

		<% end %>
		

	</article>

</div>
