<header class="top-bar right">

	<div class="top-section">
		
		<div class="logo-section left">
			
			<%= link_to root_path do %>

				<h3>project gtfo</h3>

			<% end %>

		</div>


		<div class="what-is-this left">

			<%= link_to 'what is this?' , application_about_path %>

		</div>

		<div class="story-so-far left">

			<%= link_to 'story so far' , application_story_path %>

		</div>

		<div class="contact right">

			<%= link_to 'contact us' , application_contact_path %>

		</div>


		<% if current_user.try(:admin?) %>

			<div class="new-post-button left">
				
				<%= link_to 'np', new_post_path %>

			</div>

			<div class="new-tag-button left">
				
				<%= link_to 'nt', new_tag_path %>

			</div>

		<% end %>

 		<div class="login-section right">
			
			<% if user_signed_in? %>

			           <div class="current-user" >

				           	<div class="user-initials">
				           	</div>

				           	<%= gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'), :alt => current_user.email) %>
			           </div>

			           <div class="user-logout">

			                     	<%= link_to 'logout', destroy_user_session_path, method: :delete %>

			           </div>	

			<% end %>

		</div> 
	
	</div>

</header>

