<%= render 'layouts/header' %>
<body class="group l-application">
	
	<%= render 'sidebar' %>

	<%= render 'top_bar' %>

	<div class="main-content">
	
		<div id="flash_messages">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			 <% end %>
		</div>

		<%= yield %>

		<%= render 'small_sidebar' %>

	</div>

</body>

</html>
